<div class="container main-container">
  <h4>Demo de cadastro</h4>
  <hr />
  <form role="form" [formGroup]="cadastroForm" (ngSubmit)="adicionarUsuario()">
    <div class="form-horizontal">
      <div class="form-group">
        <label for="nome" class="col-md-2 control-label">Nome Completo</label>
        <div class="col-md-10">
          <input
            type="text"
            class="form-control"
            id="nome"
            placeholder="Nome (requerido)"
            formControlName="nome"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="cpf" class="col-md-2 control-label">CPF</label>
        <div class="col-md-10">
          <input
            type="text"
            class="form-control"
            id="cpf"
            placeholder="CPF (requerido)"
            formControlName="cpf"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="col-md-2 control-label">E-mail</label>
        <div class="col-md-10">
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="E-mail (requerido)"
            formControlName="email"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="senha" class="col-md-2 control-label">Senha</label>
        <div class="col-md-10">
          <input
            type="password"
            class="form-control"
            id="senha"
            placeholder="Senha (requerido)"
            formControlName="senha"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="nome" class="col-md-2 control-label"
          >Confirme a Senha</label
        >
        <div class="col-md-10">
          <input
            type="password"
            class="form-control"
            id="confimarsenha"
            placeholder="Confirme Senha (requerido)"
            formControlName="confimarsenha"
          />
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span>
            <button type="submit" class="btn btn-success" id="Registrar">
              Registrar
            </button>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>
